@import "../../../styles/settings.scss";

.featuredCard {
  width: 30%;
  position: relative;
  top: 4%;

  .deals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: #292929;

    p {
      margin: 0;
      color: #e1e1e1;
    }
  }

    .dots {
      display: flex;

      ul {
        margin: 0;
        list-style: none;
        display: flex;

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }

  .productImage {
    transition: opacity 0.5s ease;

    &.hidden {
      opacity: 0;
    }
  }
}

@media (max-width: 991px) {
  .featuredCard {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .featuredCard {
    display: none;
  }
}
