@import "../../../styles/settings.scss";


.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .nav {
    height: 84px;
    z-index: 999;
  }

  .menu {
    z-index: 999;

    a {
      @extend %hover-transform-size;
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

@media (max-width: 1199px) {
  .root {
    display:block;
  .nav {
    height: 39px;
  }
}
}

@media (max-width: 767px) {
  .root {
    :global(.container) > :global(.row) {
      height: 50px;
    }
  .nav {
    background: #ffffff;
  }
}
}
