@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .common-styles {
    border: 1px solid $header-bg;
    margin: 5px;
    width: 100%;
    text-align: center
  }
  h1 {
    line-height: 2;
  }
  .banner_container {
    @extend .common-styles;
    height: 150px;
  }
  .productList_container {
    @extend .common-styles;
    height: 600px;
  }
  .filters_container {
    @extend .common-styles;
    height: 600px;
  }
  .brands_container {
    @extend .common-styles;
    height: 150px;
  }
}
