@import "../../../styles/settings.scss";

// .root {
// }

.main {
  @extend %hover-transform-size;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  @extend %hover-transform-size;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }
}

.white {
  background-color: #ffffff;
  color: #2a2a2a;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 14px;

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

.wide {
  background-color: #2a2a2a;
  color: #ffffff;
  text-align: center;
  padding: 7px 0;

  &:hover {
    background-color: $primary;
    text-decoration: none;
    color: #ffffff;
  }
}
