@import "../../../styles/settings.scss";
.root {
  padding: 5rem 0;
  margin-top: 10px;
  
  .slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden; /* Zapobiega pojawianiu się poziomego przewijania */
  }

  .imgContainer {
    flex: 1;
    width: 100%; /* Zmiana szerokości na 100% dla responsywności */
    max-width: 300px; /* Ustaw maksymalną szerokość obrazka, aby zachować jakość */
    border: 1px solid $header-topbar-bg;
    opacity: 0.5;
    align-items: center;
    margin: 10px;
  }

  .brandImg {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Zachowaj proporcje obrazu */
  }

  .sectionDivider { /* Poprawione typo w nazwie klasy */
    border: none;
    border-top: 2px solid #2a2a2a;
    margin: 10px 0;
  }

  .sliderButton {
    background-color: #2a2a2a;
    color: #ffff;
    flex: 0.2;
    border: none;
    margin: 10px;

    &:hover {
      background-color: $primary;
    }
  }
}

/* MEDIA */

@media (max-width: 992px) {
  .imgContainer {
    max-width: 200px; /* Zmniejsz szerokość obrazków na mniejszych ekranach */
  }
}

@media (max-width: 768px) {
  .imgContainer {
    max-width: 150px; /* Zmniejsz szerokość obrazków na mniejszych ekranach */
  }
}