@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: rgb(216, 216, 216);
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    display: flex;
    justify-content: flex-end;

    .cartBox {
      display: inline-block;
      position: relative;
      color: #ffffff;
      margin-right: 10px;

      .cartIcon {
        background-color: $primary;
        width: 100px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 52px;
        }
      }

      .cartCounter {
        margin: 0;
        width: 70px;
        height: 27px;
        border-radius: 20px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 15px;
        font-weight: bold;
        color: rgb(224, 227, 237);
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(50%, -50%);
      }

      &:hover {
        .cartIcon {
          background-color: lighten($primary, 10%);
        }
      }
    }
  }
}

/* MEDIA */

@media screen and (max-width: 767px) {
  .root {
    a img {
      order: 0
    }

    .phoneNumber {
      order: 1;
      margin-top: 30px;

      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
