@import "../../../styles/settings.scss";

.header {
  background: $primary;
}

.body {
  display: flex;
  background: #f4f5f7;
  font-size: 30px;
}

.img {
  width: 400px;
  height: 17rem;
  object-fit: cover;
}

.description {
  margin: 0 20px 0 20px;
}

.prices {
  font-size: 30px;
  align-items: center;
  display: flex;
}

.oldPrice {
  font-size: 25px;
  text-decoration: line-through;
  color: #A5A5A5;
  margin-right: 5px;
}

.promo {
  font-size: 40px;
  text-transform: uppercase;
}

.footer {
  background: $primary;
}
