@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid #e2e2e2;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .dots {
      display: flex;

      ul {
        margin: 0;
        list-style: none;
        display: flex;

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
  .button {
    background-color: $form-border-color;
    color: #e1e1e1;

    &:hover {
      background-color: $primary;
    }

    /* Change the color of adjacent h3 element when button is hovered */
    + .post h4 {
      color: $primary;
    }
  }

}
