@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid #e2e2e2;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .dots {
      display: flex;

      ul {
        margin: 0;
        list-style: none;
        display: flex;

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }


  .button {
    background-color: $form-border-color;
    color: #e1e1e1;
  

  &:hover {
      background-color: $primary;
 
  }
}
.hover {
    color: $primary; 
}
.post {
    position: absolute;
    z-index: 2;
    background-color:  #ffff;
    width: 80%;
    top: 48%;
    opacity: 1;
.content {
    padding-right: 20px;
    padding-left: 5px;
}
h4 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

}
}
.post_column {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: top;
    height: 500px;
}
.background {
    position: relative;
    z-index: 1;
    background-color: gray;
    opacity: 0.5;
    height: 300px;
    width: 100%;
}

