@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: #ffffff;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

    .topOptions ul {
      display: flex;
      justify-content: flex-start;

      li {
        margin-right: 1.5rem;

        .icon {
          margin-left: 5px;
        }
      }
    }

    .topMenu ul {
      display: flex;
      justify-content: flex-end;

      li {
        margin-left: 1.5rem;

        .icon {
          margin-right: 5px;
        }
      }
    }

}

/* MEDIA */

@media (max-width: 767px) {
  .topMenu ul li a span {
    display: none;
  }
}
