@import "../../../styles/settings.scss";

.root {
  .error {
    color: red;
    font-size: 14px;
  }

  .form {
    width: 400px;
    margin: 50px auto;
    min-height: 100%;
  }

  .marginText {
    margin-bottom: 5px;
  }

  .remindPassword {
    color: rgb(72, 72, 248);
  }

  .loginButton {
    background: linear-gradient(to bottom, #FFD700, $yellow);
    color: black;
    text-align: center;
    font-weight: 500;
    border: none;
    margin-top: 20px;
  }
}
