@import "../../../styles/settings.scss";

.featuredProduct {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;

  .featuredProduct_inner {
    background-color: rgba($header-bg, 0.8);
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 200;

    p:first-of-type {
      font-size: 42px;
      margin-bottom: 0;
      margin-top: 7%;
      letter-spacing: 2px;

      span {
        font-weight: 500;
      }
    }

    p:last-of-type {
      font-size: 16px;
      letter-spacing: 1px;
    }

    .button {
      position: relative;
      top: 7%;
    }
  }

  .featuredProduct_buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    width: 100%;

    .longButton {
      width: 50%;
    }
  }
}
