$base-padding: 24px;

//colors
// DO NOT USE THESE VARIABLES, USE "ELEMENT COLORS" IN COMPONENTS STYLES
$gray-1: #434343;
$gray-2: #363636;
$gray-3: #2a2a2a;
$gray-4: #292929;
$yellow: #d58e32;
$beige: #ffe4c4;

//element colors
$background-product-search-bg: $beige;
$header-topbar-bg: $gray-1;
$header-bg: $gray-2;

$footer-claim-bg: $gray-3;
$footer-bg: $gray-2;

$primary: $yellow;

$text-color: $gray-3;

$form-border-color: $gray-4;
