@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      select, .icon {
        color: $primary;
      }
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }
    
// change in select category

    .customSelect {
      position: relative;
      
      span.selectCategory {
        height: 42px;
        width: 200px;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;        
        cursor: pointer;
      }

      ul {
        width: 200px;
        font-size: 14px;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid $form-border-color;
        background-color:$beige;
        z-index: 2;
        display: none;

        li {
          margin: 10px 0;
          padding: 10px 15px;          

          &:hover {
            background-color: $primary;
            cursor: pointer;
          }
        }
      }

      &:hover ul {
        display: block;
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
