@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid #e2e2e2;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: #ffffff;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  .feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .icon{
      padding-bottom: 20px;
    }

    .content {
      text-align: center;
      font-size: 14px;
      line-height: 25px;
      color: $feedback-color;
    }

    .author{
      justify-content: center;
      display: flex;
      align-items: center;

      .picture {
        padding-right: 10px;
        img {
          width: 60px;
          height: 52px;
          object-fit: cover;
          border-radius: 5px;
          border: 1px solid $feedback-color;
        }
      }

      .name{
        padding-left: 10px;
        p{
          margin-bottom: 0;
          font-size: 14px;
          color: $feedback-color;
        }
        .authorName{
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
