@import "../../../styles/settings.scss";

.root {

  .featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    margin-top: 30px;
    gap: 20px;

    .featuredCard {
      width: 30%;
      position: relative;
      top: 4%;

      .deals {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
        background-color: #292929;

        p {
          margin: 0;
          color: #e1e1e1;
        }
      }

        .dots {
          display: flex;

          ul {
            margin: 0;
            list-style: none;
            display: flex;

            li {
              display: inline-block;
              margin-left: 0.5rem;

              a {
                display: block;
                width: 13px;
                height: 13px;
                border-radius: 6px;
                background-color: #e1e1e1;
                font-size: 0;

                &.active,
                &:hover {
                  background-color: $primary;
                }
              }
            }
          }
        }

    }


    .featuredProduct {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(/images/furniture/sofa-2.jpg);
      background-size: cover;
      background-position: center;
      position: relative;

      .featuredProduct_inner {
        background-color: rgba($header-bg, 0.8);
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 200;

        p:first-of-type {
          font-size: 42px;
          margin-bottom: 0;
          margin-top: 7%;
          letter-spacing: 2px;

          span {
            font-weight: 500;
          }
        }

        p:last-of-type {
          font-size: 16px;
          letter-spacing: 1px;
        }

        .button {
          position: relative;
          top: 7%;
        }
      }

      .featuredProduct_buttons {
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: space-between;
        width: 100%;

        .longButton {
          width: 50%;
        }
      }
    }
  }

}
