@import "../../../styles/settings.scss";

.compareStickyBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: $background-product-search-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 2px solid $footer-bg;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;

    .product {
      position: relative;
      margin-right: 10px;

      img {
        max-width: 100px;
        max-height: 100px;
        transition: opacity 0.5s;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            opacity: 0.5;

            ~ .closeIcon {
                color: #ff0000;
                display: block;
            }
        }
    }

    .closeIcon {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: #888;
        transition: color 2s;
    }
}

    button {
        cursor: pointer;
    }
}
